.editor table {
  border-collapse: collapse;
  margin: 10px 0;
}

.editor table td,
.editor table th {
  border: 1px solid #ccc;
  padding: 8px;
}

.editor img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.editor ul:not(.checkbox-list) {
  list-style-type: disc;
  padding-left: 40px;
}

.editor ol {
  list-style-type: decimal;
  padding-left: 40px;
}

.editor input[type="checkbox"] {
  width: 12px;
  height: 12px;
  transform: scale(1.5);
  margin-right: 5px;
  cursor: pointer;
}

.table-container {
  position: relative; /* This makes the absolute buttons position correctly */
  display: inline-block; /* Ensures it wraps around the table */
  width: 100%;
}
.add-row,
.add-col {
  position: absolute;
  z-index: 10;
}

.katex-html {
  visibility: hidden;
}

.editor-table td {
  position: relative;
  width: 50px; /* Initial width */
  min-width: 20px; /* Allow reducing width */
  max-width: 100%; /* Prevent overflow */
  min-height: 30px;
  text-align: left;
  border: 1px solid #ddd;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 8px;
}
.kebab-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 16px;
  display: none;
}

.editor-table td:hover .kebab-menu {
  display: block;
}

.resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  cursor: ew-resize;
  background-color: transparent;
}

.resizable-cell:hover .resize-handle {
  background-color: lightgray;
}

.kebab-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 16px;
  display: none;
}

.editor-table td:hover .kebab-menu {
  display: block;
}

.popup-menu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.popup-menu button {
  display: block;
  width: 100%;
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  text-align: left;
}

.popup-menu button:hover {
  background: #f0f0f0;
}
