.markup-container table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.markup-container th,
.markup-container td {
  border: 1px solid #ddd;
  padding: 8px;
}

.markup-container thead {
  background-color: #f4f4f4;
}
